name: lint
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: true
      - uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=5m
          version: latest
